<h2>Report Details</h2>
<p>Name : <%= @report.name %></p>
<p>Date beg: <%= @report.date_beg %></p>
<p>Date end: <%= @report.date_end %></p>

<br>
<br>
<br>
<%= form_for(@report) do |f| %>
  <div style="border: solid black 1px">
    <%= f.label :date_beg %>
    <br>
    <%= f.date_field :date_beg %>
    <br>
    <%= f.label :date_end %>
    <br>
    <%= f.date_field :date_end %>
    <br>
    Current scale : <%= @report.scale %><br>
    day <%= f.radio_button(:scale, "day") %>
    <br>
    week <%= f.radio_button(:scale, "week") %>
    <br>
    <%= f.submit "Update Report" %>
  </div>
<% end %>


<br>
<br>
<div class="hidden">
  array: <%= @test %>
  <br>
  from: <%= @from %>
  <br>
  To: <%= @to %>
</div>
<br>
<br>
<br>

<div class="card">
  <div class="card-summary col-md-5 col-sm-4">
    <h4>Complaint Summary</h4>

  </div>
  <div class="pie-holder col-md-7 col-sm-8">
    <div class="col-xs-6" style="text-align:center">
      <canvas id="complaint-piechart-canvas" width="200" height="200"/>
    </div>
    <div class="col-xs-6 pie-legend">
    </div>
  </div>
  <div style="width:100%;">
    <canvas id="complaint-linechart-canvas" height="150" width="600"></canvas>
  </div>
</div>

<div class="card">
  <div class="card-summary col-md-5 col-sm-4">
    <h4>Action Summary</h4>
  </div>
  <div class="pie-holder col-md-7 col-sm-8">
    <div class="col-xs-6" style="text-align:center">
      <canvas id="action-piechart-canvas" width="200" height="200"/>
    </div>
    <div class="col-xs-6 pie-legend">
    </div>
  </div>
  <div style="width:100%;">
    <canvas id="action-linechart-canvas" height="150" width="600"></canvas>
  </div>
</div>

<div class="card">
  <div class="card-summary col-md-5 col-sm-4">
    <h4>Style Summary</h4>
  </div>
  <div class="pie-holder col-md-7 col-sm-8">
    <div class="col-xs-6" style="text-align:center">
      <canvas id="style-piechart-canvas" width="200" height="200"/>
    </div>
    <div class="col-xs-6 pie-legend">
    </div>
  </div>
  <div style="width:100%;">
    <canvas id="style-linechart-canvas" height="150" width="600"></canvas>
  </div>
</div>

<div class="card">
  <div class="card-summary col-md-5 col-sm-4">
    <h4>Product Summary</h4>
  </div>
  <div class="pie-holder col-md-7 col-sm-8">
    <div class="col-xs-6" style="text-align:center">
      <canvas id="product-piechart-canvas" width="200" height="200"/>
    </div>
    <div class="col-xs-6 pie-legend">
    </div>
  </div>
  <div style="width:100%;">
    <canvas id="product-linechart-canvas" height="150" width="600"></canvas>
  </div>
</div>

<%= link_to "back", dashboard_path %>

<script>
  $(document).ready(function(){
    var colors = ['#0085c3','#7ab800','#f2af00','#dc5034','#6e2585','#71c6c1','#5482ab','#444444', '#f99104'];

    var complaint_array = <%= @complaint_array.to_json.html_safe %>;
    var complaint_hash = <%= @complaint_hash.to_json.html_safe %>;
    create_chart(complaint_array, complaint_hash, "complaint-piechart-canvas");

    var action_array = <%= @action_array.to_json.html_safe %>;
    var action_hash = <%= @action_hash.to_json.html_safe %>;
    create_chart(action_array, action_hash, "action-piechart-canvas");

    var style_array = <%= @style_array.to_json.html_safe %>;
    var style_hash = <%= @style_hash.to_json.html_safe %>;
    create_chart(style_array, style_hash, "style-piechart-canvas");

    var product_array = <%= @product_array.to_json.html_safe %>;
    var product_hash = <%= @product_hash.to_json.html_safe %>;
    create_chart(product_array, product_hash, "product-piechart-canvas");



    var complaint_date_hash = <%= @complaint_date_hash.to_json.html_safe %>;
    var action_date_hash = <%= @action_date_hash.to_json.html_safe %>;
    var style_date_hash = <%= @style_date_hash.to_json.html_safe %>;
    var product_date_hash = <%= @product_date_hash.to_json.html_safe %>;

    //////////array of dates
    var date_array = [];
    for(var key in complaint_date_hash){
      for(var date in complaint_date_hash[key]){
        date_array.push(date);
      }
      break;
    }
    //////////////////////////////
    create_line_graph(complaint_date_hash,"complaint-linechart-canvas");
    create_line_graph(action_date_hash,"action-linechart-canvas");
    create_line_graph(style_date_hash,"style-linechart-canvas");
    create_line_graph(product_date_hash,"product-linechart-canvas");




    ////////////////////////Section for graphs and charts

      //////LineGraph
      function create_line_graph(hash, id){
        console.log(hash);
        var i = 0;
        var in_function_array2 = []
        for(var key in hash){
          var in_function_data_array = [];
          for(var data2 in hash[key]){
            in_function_data_array.push(hash[key][data2]);
          }
          in_function_array2.push(
            {
              label: key,
              strokeColor : colors[i],
              // pointColor : colors[i],
              // pointStrokeColor : colors[i],
              pointHighlightFill : colors[i],
              pointHighlightStroke : colors[i],
              data : in_function_data_array
            }
          );
          i++;
        }
        var lineChartData_complaint = {
          labels : date_array,
          datasets : in_function_array2
        }
        var ctx = document.getElementById(id).getContext("2d");
    		window.myLine = new Chart(ctx).Line(lineChartData_complaint, {
    			responsive: true,
          bezierCurve : false,
          datasetFill : false,
          pointDot : false
    		});
      }

      //////PieChart
      function create_chart(array, hash, id){
        var labelholder = $('#' + id).parent().parent().find(".pie-legend");

        var in_function_array = [];
        var i = 0;
        for(var key in hash){
          in_function_array.push({
            value: hash[key],
            color:colors[i],
            highlight: LightenDarkenColor(colors[i], 50),
            label: key
          });
          labelholder.append('\
          <div class="pie-legend-item">\
            <span class="pie-legend-square" style="background-color:' + colors[i] + '">\
            ' + hash[key] + '</span>\
            <span class="pie-legend-label">\
              ' + key + '\
            </span>\
          </div>\
          ');
          i++;
        }
        var ctx = document.getElementById(id).getContext("2d");
        window.myPie = new Chart(ctx).Pie(in_function_array, {
          animationEasing : "easeOutQuint",
        });


      }

      //////////Hex Lightener
      function LightenDarkenColor(col, amt) {
        var usePound = false;
        if (col[0] == "#") {
            col = col.slice(1);
            usePound = true;
        }
        var num = parseInt(col,16);
        var r = (num >> 16) + amt;
        if (r > 255) r = 255;
        else if  (r < 0) r = 0;
        var b = ((num >> 8) & 0x00FF) + amt;
        if (b > 255) b = 255;
        else if  (b < 0) b = 0;
        var g = (num & 0x0000FF) + amt;
        if (g > 255) g = 255;
        else if (g < 0) g = 0;
        return (usePound?"#":"") + (g | (b << 8) | (r << 16)).toString(16);
    }


  });

</script>
